/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


} */
html,body,#app {

background-color: aqua;
height: 8800px;

background:url("https://qiniu.sukoshi.xyz/src/images/68686407_p0.jpg");


background-size: 100% 100%;
background-attachment: fixed;
margin: 0;

}
